<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-1.11.0.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <label>姓名:</label>
    <input id="name" type="text">
    <input id="search" type="button" value="检索">
    <div id="info"></div>
    <script>
    $(function(){
    	$('#search').click(function(){
    		$.ajax({
	    		url: './infoList',
	    		data: {
	    			name : $('#name').val()
	    		},
	    		success: function(data){
	    			$('#info').html('name: '+data.name +', facts:'+ data.facts);
	    		},
	    		error: function(){
	    			$('#info').html('不存在');
	    		}
	    	});
    	});
    });
    </script>
  </body>
</html>